.fast {
  position: relative;
  padding: 120px 0;

  @media (max-width: $breakpoint992) {
    padding: 60px 0;
  }

  // .fast__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      gap: 40px;
    }
  }

  // .fast__title

  &__title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 34px;
    line-height: 37px;
    color: var(--white-color);

    @media (max-width: $breakpoint480) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  // .fast__exchanger

  &__exchanger {
    flex: 0 1 550px;

    @media (max-width: 1200px) {
      flex: 0 1 auto;
    }
  }

  &__info {
    flex: 0 1 572px;

    @media (max-width: 1200px) {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  &__descr {
    margin-bottom: 80px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: var(--white-color);
  }

  // .fast__firms

  &__firms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
    }
  }

  // .fast__firm-img

  &__firm-img {}
}


.exchanger {
  padding: 20px 10px;
  background-color: var(--bg-card);
  border: 1px solid #303241;
  border-radius: 12px;
  // .exchanger__main

  &__main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 20px;
  }

  // .exchanger__send

  &__send {
    position: relative;
  }

  // .exchanger__label

  &__label {
    margin-bottom: 5px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #43465C;
  }

  // .exchanger__send-enter

  &__send-enter {
    position: relative;
    display: flex;
    padding: 25px 0;
    min-height: 77px;
    margin-bottom: 5px;
    background: linear-gradient(180deg, #171822 0%, #171822 100%);
    border: 1px solid #303241;
    border-radius: 12px;

    @media (max-width: $breakpoint768) {
      min-height: 60px;
      padding: 10px 0;
    }
  }

  // .exchanger__send-input

  &__send-input {
    max-width: 410px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    background: linear-gradient(180deg, #171822 0%, #171822 100%);
    color: var(--white-color);
    outline: 0;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
      font-size: 24px;
      line-height: 26px;
    }
  }

  // .exchanger__select

  &__select {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 40px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      right: 20px;
      top: 20px;
      width: 10px;
      height: 10px;
      -webkit-transform: translateY(-75%) rotate(45deg);
      -ms-transform: translateY(-75%) rotate(45deg);
      transform: translateY(-75%) rotate(45deg);
      border-bottom: 3px solid #303241;
      border-right: 3px solid #303241;
      cursor: pointer;
    }
  }

  // .exchanger__info

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 5px;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(67, 70, 92, 0.7);
  }

  // .exchanger__reverse

  &__reverse {
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;

    @media (max-width: $breakpoint768) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  // .exchanger__reverse-img

  &__reverse-img {}

  // .exchanger__get

  &__get {
    position: relative;
  }

  // .exchanger__get-enter

  &__get-enter {
    position: relative;
    display: flex;
    padding: 20px 0;
    min-height: 72px;
    margin-bottom: 5px;
    background: linear-gradient(180deg, #171822 0%, #171822 100%);
    border: 1px solid #303241;
    border-radius: 12px;

    @media (max-width: $breakpoint768) {
      min-height: 60px;
      padding: 10px 0;
    }
  }

  // .exchanger__get-input

  &__get-input {
    max-width: 410px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    background: linear-gradient(180deg, #171822 0%, #171822 100%);
    color: var(--white-color);
    outline: 0;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
      font-size: 24px;
      line-height: 26px;
    }
  }

  // .exchanger__btn

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    background: linear-gradient(108.49deg, #AF53FF 0%, #6EACFE 95.17%);
    border-radius: 12px;
    font-size: 24px;
    line-height: 33px;
    color: var(--white-color);
  }
}

.exchange {

  // .exchange__select-container

  &__select-container {
    display: flex;
    width: 100%;
    padding-left: 12px;
    border-left: 1px solid #303241;
    cursor: pointer;

    &.active {

      & .option-container {
        opacity: 1;
        user-select: auto;
        pointer-events: initial;
      }
    }


    @media (max-width: $breakpoint768) {
      max-width: 200px;
    }
  }
}

.option {
  cursor: pointer;

  // .option__label

  &__label {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
  }

  // .option__img

  &__img {
    user-select: none;
    pointer-events: none;
  }

  // .option__text

  &__text {
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: var(--white-color);
    user-select: none;
    pointer-events: none;
  }
}

.option-container {
  position: absolute;
  top: -50%;
  right: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  background-color: var(--bg-card);
  border: 1px solid #303241;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}