// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1300;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';


:root {
  // Fonts
  --first-font: 'Sofia Pro', san-serif;
  --second-font: 'Graphik', san-serif;

  //colors
  --primary-color: #AF53FF;
  --text-color: #ffffff;
  --bg-card: #151823;
  --bg-body: #0A0C17;

  --white-color: #ffffff;
}