.why {
  padding: 65px 0;

  @media (max-width: $breakpoint992) {
    padding: 30px 0;
  }

  // .why__inner

  &__inner {}

  // .why__title

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: var(--primary-color);

    @media (max-width: $breakpoint480) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  // .why__blocks

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .why__top

  &__top {
    display: flex;
    gap: 10px;

    & .why__block:nth-child(2) {
      max-width: 548px;

      @media (max-width: $breakpoint768) {
        max-width: 100%;
      }
    }

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }

  // .why__block

  &__block {
    padding: 25px;
    background-color: var(--bg-card);
    border: 1px solid var(--primary-color);
    border-radius: 15px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .why__block-icon

  &__block-icon {
    margin-bottom: 20px;
  }

  // .why__block-title

  &__block-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: var(--text-color);

    @media (max-width: $breakpoint768) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  // .why__block-descr

  &__block-descr {
    font-family: var(--first-font);
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.72);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  // .why__bottom

  &__bottom {
    display: flex;
    gap: 10px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
    }
  }
}